@model ImageFile?

<div class="image-content">
    <div>
        <a class="thumbnail">
            @if (Model != null && Model.FileContent != null && Model.FileContent.Length > 1)
            {
                string imageBase64 = Convert.ToBase64String(Model!.FileContent!);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc"
                     class="img-responsive new-post-mobile-image"
                     alt="Post image is not avaliable"
                     style="max-height:140px; max-width:100%;width:100%;" />        
            }
            else
            {
                <img src="~/lib/Images/Post/camera.png"
                     class="img-responsive new-post-mobile-image"
                     alt="Post image is not avaliable"
                     style="max-height:140px; max-width:100%;width:100%;" />
                <span id="infoErrorUpload1" style="display:none;color:red;font-size:smaller;">
                    File size must be less than 7MB!
                </span>
            }
        </a>
    </div>  

    @{
        int postId = Model?.PostID ?? 0;
        int fileId = Model?.FileID ?? 0;
    }

    <button type="button"
            class="light-button btn-remove-image"
            data-id="@fileId"
            data-postid="@postId">
        REMOVE
    </button>
</div>




