@model string
    
<div style="word-wrap:break-word;
            overflow:auto;
            white-space:pre-wrap;
            vertical-align:middle;
            border:thin solid;
            border-color:transparent;
            padding:2px;
            margin:0px;
            ">
    @(!string.IsNullOrEmpty(Model) ? Model : "")
</div>
