
<div class="row">    
    <embed id="emAudio" src="~/Audio/Final7ThMarchSpeech.mp3" style="width:1px;
                                                    height:1px;
                                                    opacity:0.0; 
                                                    display:block;
                                                    position:relative;
                                                    top:0px;
                                                    left:0px;" />
    <div class="col-md-3 col-xs-2 col-sm-3" style="background-color:yellow;border-bottom:17px solid yellow; ">
        <img id="img1"
             style="width:100%;height:150px;"
             src="~/Images/Home/7thMarch/2.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-responsive img-bongo-bondhu">
        <div class="carousel-caption" id="txtTitle2" style="color:orange;">
           
        </div>
        <img id="img5"
             style="width:100%;height:200px;"
             src="~/Images/Home/7thMarch/13.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-bongo-bondhu"/>
        <div id="txtTitle1" style="color:orange;font-weight:bold;padding:7px;text-align:center;">
             HISTORIC RAMNA RACE COURSE
            <br />
            <br />
        </div>
       
    </div>
    <div class="col-md-6 col-xs-8 col-sm-6" style="background-color:green;border-bottom:16px solid green;">
        <img id="img3"
             src="~/Images/Home/7thMarch/1.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-responsive"
             style="height:350px;" />
        <div class="carousel-caption text-justify" id="txtBondhuBanner" style="
 font-size: large;
    color: chocolate !important;
    width: 100%;
    line-height: 28px;
    top: -10px;
    left:0px;
 font-weight:400;
 height:350px;
">
            Bongobondhu Sheikh Mujibor Rahman; Founding Father of Bangladesh - The Finest Personality the Bengali
            Race Has Ever Seen!
            <br />
            Today is 7th March. On this day in 1971, Bongobondhu delivered this speech which is now recongized
            by Unisco as part of the World Documentary Heritage. This speech is one of the best speeches
            the World Leaders have ever  provided to their fellow country people. Most importantly, after this speech;
            serious level of emotion and self right were created in people's mind and surely; this was the day;
            the most motivation, awareness and direction; people gained to form the independent Bangladesh which is
            now in 2019, a very successful country interms of development remarked by local and international observers!
        </div>
        <div id="txtTitle1" style="color:orange;font-weight:bold;padding:7px;text-align:center;">
            20 LAC BENGALI PEOPLE WERE PRESENT AT HISTORIC RAMNA RACE COURSE
            WHERE BONGOBONDHU DELIVERED THE 7TH MARCH SPEECH.
        </div>
    </div>
        
    <div class="col-md-3 col-xs-2 col-sm-3" style="background-color:red;   
    height:420px;border-bottom:solid red 19px">
        <img id="img1"
             style="width:100%;height:310px;background-color:blue;"
             src="~/Images/Home/7thMarch/TR-Logo-1.png"
             alt="Deshi Hut Bazar .Com"
             class="img-responsive" />
        <div class="carousel-caption" id="txtTitle2" style="opacity:0.7;font-size:x-large; 
font-weight:700;color:black;background-color:white;margin-bottom:105px;">
            DESHI HUT BAZAR .COM
        </div>
        <div style="color:orange;font-weight:bold;padding:7px;text-align:center;">
             NDT DEVELOPED, MS AZURE CLOUD
              HOSTED PORTAL IS LEAD BY YU JIN TAN DIRECTOR AVANADE (ACCENTURE AND MICROSOFT JOINT VENTURE)
                   </div>
    </div>
</div>

