
<div class="row" style="opacity:0.9;">    
    <embed id="emAudio" src="~/Audio/Final7ThMarchSpeech.mp3" style="width:1px;
                                                    height:1px;
                                                    opacity:0.0; 
                                                    display:block;
                                                    position:relative;
                                                    top:0px;
                                                    left:0px;" />

    <div class="col-xs-12 col-sm-12" style="background-color:green;border-bottom:16px solid green;">
        <img id="img3"
             src="~/Images/Home/7thMarch/1.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-responsive"
             style="opacity:0.7;height:400px;" />
        <div class="carousel-caption text-justify" id="txtBondhuBanner" style="
 font-size: medium;
    color: darkgreen !important;
    width: 100%;
    line-height: 28px;
    top: -10px;
    left:0px;
 font-weight:400;
 height:350px;
">
            26 March 1971, The Independence Day of Bangladesh (Independence from Pakistan) was Declared by Bongobondhu Sheikh
            Mujibor Rahman in the Late Hours of 25th March 1971 after Violent Crackdown on Civilians by the Pakistan Army.
            On 27 March 1971 from Kalurghat Radio Station in Chittagong, the Declaration
            was Broadcasted by Ziaur Rahman Bir Uttom who was the Brigade Commander of Z Force during
            Independence War.
        </div>
    </div>
   
</div>

