
<div class="row">    
    <embed id="emAudio" src="~/Audio/Final7ThMarchSpeech.mp3" style="width:1px;
                                                    height:1px;
                                                    opacity:0.0; 
                                                    display:block;
                                                    position:relative;
                                                    top:0px;
                                                    left:0px;" />
    <div class="col-md-3 col-xs-2 col-sm-3" style="background-color:yellow;border-bottom:17px solid yellow; ">
        <img id="img1"
             style="width:100%;height:160px;"
             src="~/Images/Home/7thMarch/2.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-responsive img-bongo-bondhu">
        <div class="carousel-caption" id="txtTitle2" style="color:orange;">
           
        </div>
        <img id="img5"
             style="width:100%;height:185px;margin-top:5px;"
             src="~/Images/Home/IndependenceDay/13.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-bongo-bondhu"/>
        <div id="txtTitle1" style="color:orange;font-weight:bold;padding:7px;text-align:center;">
            Ramna Race Course garden in Dhaka
        </div>       
    </div>
    <div class="col-md-6 col-xs-8 col-sm-6" style="background-color:green;border-bottom:16px solid green;">
        <img id="img3"
             src="~/Images/Home/7thMarch/1.jpg"
             alt="Bongo Bondhu 7th March Speech"
             class="img-responsive"
             style="height:350px;" />
        <div class="carousel-caption text-justify" id="txtBondhuBanner" style="
 font-size: large;
    color: chocolate !important;
    width: 100%;
    line-height: 28px;
    top: -10px;
    left:0px;
 font-weight:400;
 height:350px;
">
            26 March 1971, The Independence Day of Bangladesh (Independence from Pakistan) was Declared by Bongobondhu Sheikh
            Mujibor Rahman in the Late Hours of 25th March 1971 after Violent Crackdown on Civilians by the Pakistan Army.
            Bangabandhu Sheikh Mujibur Rahman was Arrested at Around 1:30 AM on 26 March 1971 (Friday) from his Dhanmondi
            Residence by the Pakistan Army. On 27 March 1971 from Kalurghat Radio Station in Chittagong, the Declaration
            was Broadcasted by Ziaur Rahman Bir Uttom, a Military Official who was the Brigade Commander of Z Force during
            Independence War. Recent Times, with Strong Leadership of Bongobondhu Daughter; I Personally, find a Modern, Democratic 
            Bangladesh which was Strongly Desired by the Fighters of the War.
        </div>
        <div id="txtTitle1" style="color:orange;font-weight:bold;padding:7px;text-align:center;">
            26th March, Bangladesh Independence Day
        </div>
    </div>
        
    <div class="col-md-3 col-xs-2 col-sm-3" style="background-color:red;   
    height:400px;border-bottom:solid red 19px">
        <img id="img1"
             style="width:100%;height:310px;background-color:blue;"
             src="~/Images/Home/7thMarch/TR-Logo-1.png"
             alt="Deshi Hut Bazar .Com"
             class="img-responsive" />
        <div class="carousel-caption" id="txtTitle2" style="opacity:0.7;font-size:x-large; 
font-weight:700;color:black;background-color:white;margin-bottom:105px;">
            DESHI HUT BAZAR .COM
        </div>
        <div style="color:orange;font-weight:bold;padding:7px;text-align:center;">
            Nasima Data Technology developed and MS Azure deployed portal is an easy and free way for online ad publishing!
        </div>
    </div>
</div>

