@model PanelViewModel

<div class="container">
   
    <h4 class="sub-title">
        @Model.PanelTitle
    </h4>

    <div class="row">

        @{
            foreach ( var product in Model.ListPosts.ToList())
            {
                <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4 card">
                           
                    <a class="thumbnail only-image card-img-top">

                        @if ( product.ImageFileContent != null )
                        {
                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image3X.cshtml", product.ImageFileContent )  
                        }
                        else
                        {
                            @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/Images/_Image3X.cshtml", new byte[1] )  
                        }

                    </a>


                    <div class="card-body" style="margin-bottom:10px;">

                            <h5 class="truncate text-bg-success card-title" style="text-align:center;">
                                @product.PostTitle
                            </h5>

                            <p class="fa-dollar text-info-emphasis card-text" style="text-align:center;">
                                @product.Price Taka
                            </p>

                            <span style="vertical-align:middle;text-align:center;"><i class="fa fa-plus fa-fw"></i>ADD TO CART</span>
                    </div>
                
                </div>
            }
        }

    </div>

</div>