@model ProductViewModel

@{
    ViewBag.Title = "Product Details";    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = true;
}

<div id="detailsProductMainView" class="container">
    @await Html.PartialAsync("~/Areas/CompanyContent/Views/ManageProduct/_DetailsProduct.cshtml", Model)
</div>

@section scriptsapp {
    <script>
        PAGE_NAME = '@Model.PageName';
    </script>
}