.list-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    border: 0px solid #ddd;
    background-color: transparent;
    /*#fafafa;*/
}

.panel {
    padding: 11px;
    border: 2px solid transparent;
    background-color: *#ffffff;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 4px;
}

    .panel.selected {
        border: 2px solid #007bff;
        background-color: #e7f3ff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    }

.arrow-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    gap: 6px;
}

.arrow-btn {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .arrow-btn:hover:not(.disabled) {
        background-color: #0056b3;
    }

    .arrow-btn.disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        opacity: 0.5;
    }

        .arrow-btn.disabled:hover {
            background-color: #cccccc;
        }


.delete-btn {
    padding: 6px 10px;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .delete-btn:hover {
        background-color: #b30000;
    }



.save-btn {
    padding: 6px 10px;
    background-color: #00ff00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .save-btn:hover {
        background-color: #0c8a0c;
    }
   
