@if ( User != null && User.Identity != null && User.Identity.IsAuthenticated )
{
    @if ( User.IsInRole ( "User" ) )
    {
        <div class="dropdown">
            <a class="dropdown-toggle text-truncate"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                data-userid="@Model.UserID"
                data-bs-toggle="dropdown">
                <i class="fa fa-user fa-1x"></i>
                <span>@User.Identity.Name</span>
                <span class="caret"></span>
            </a>
                    
            <ul class="dropdown dropdown-menu" id="divMenuMyHomeSignin">

                @await Html.PartialAsync( "~/Views/Shared/Components/_MainMenuProfile.cshtml" )

                @await Html.PartialAsync( "~/Views/Shared/Components/_MainMenuLogout.cshtml" )
                
            </ul>
        </div>
    }
}   