
<li>
    <a class="dropdown-item dropdown-item-text" asp-controller="Auth" asp-action="ChangePassword">
        <i class="fa fa-cog fa-fw"></i>
        <span>
            Change Password
        </span>
    </a>
</li>


<li>
    <hr class="dropdown-divider">
</li>

<form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
    <li>
        <button type="submit" class="dropdown-item dropdown-item-text"> @SharedLocalizer["LinkLogout"]</button>
    </li>
</form>