<li>
    <a class="dropdown-item dropdown-item-text icon-button"
        asp-area=""
        asp-controller="Auth"
        asp-action="Logout">

        <i class="fa fa-fw fa-sign-out"></i>

        <span>
            @SharedLocalizer["LinkLogout"]
        </span>

    </a>
</li>