<li class="dropdown-header">Account Setting</li>

<li class="admin-menu">

    <a class="dropdown-item dropdown-item-text icon-button"
       asp-area="Company"
       asp-controller="CompanySettings"
       asp-action="ManageAccount">

        <i class="fa fa-fw fa-user"></i>

        <span>
            @SharedLocalizer["ProfileLinkText"]
        </span>
    </a>

</li>

<li>
    <a class="dropdown-item dropdown-item-text icon-button"
       asp-area=""
       asp-controller="Auth"
       asp-action="ChangePassword">

        <i class="fa fa-fw fa-edit"></i>

        <span>
            @SharedLocalizer["ChangePasswordLinkText"]
        </span>

    </a>
</li>

<li>
    <hr class="dropdown-divider">
</li>