

<div id="header-main" class="main-header">
    <div class="header-container">
        <a class="logo" 
           id="ancor_Index_Home" 
           href="@Url.Action("Index", "Home")">
            @TenantSetter.TenantName
        </a>

        @await Html.PartialAsync("_SimpleSearch")
        
        <a id="ancor_NewPost_Post"
            type="button"
            class="header-action"
            href="@Url.Action("NewPost", "Post")">

            <i class="fa fa-plus fa-fw"></i>

            @SharedLocalizer["LabelPostFreeAd"]
        </a>

    </div>

</div>