@model PanelPostSelectViewModel

<div id="product@Model.ImageFileID"
     class="panel-post-view-model"
     data-postId="@Model.RootID"
     data-imageFileId="@Model.ImageFileID"
     draggable="false">

        @await Html.PartialAsync("~/Areas/PageContent/Views/Pages/_ImageDrop.cshtml", Model.ImageFileContent)
        
</div>



