@model List<PanelViewModel>

@{
    ViewData["Title"] = "Edit Panels";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = true;
}

@section Styles {
    <link rel="stylesheet" href="~/css/panel-up-down.css" />
}

<div class="container"> 

    <h4 class="card-title">EDIT PANELS</h4>

    <div class="gap"></div>

</div>

<div class="list-panel">

    @Html.AntiForgeryToken()

    @{
        

        foreach(var model in Model.ToList())
        {
            

            if ( model.PanelTemplate == EnumPanelTemplate.ProductSixer)
            {
                @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/EditPanels/_ProductPanel6X.cshtml",model )
            }
            else if ( model.PanelTemplate == EnumPanelTemplate.ProductQuard )
            {
                @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/EditPanels/_ProductPanel4X.cshtml",model )
            }
            else if ( model.PanelTemplate == EnumPanelTemplate.ProductTriangle )
            {
                @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/EditPanels/_ProductPanel3X.cshtml",model )
            }
            else if ( model.PanelTemplate == EnumPanelTemplate.ProductDouble )
            {
                @await Html.PartialAsync( "~/Areas/PageContent/Views/Pages/EditPanels/_ProductPanel2X.cshtml",model )
            }
        }
    }
</div>


@section scriptsapp 
{
    <script src="~/js/panel-step-updown.js"></script>

    <script>
        $(function() {
        
            urlDeletePanel = "@Url.Action("DeletePanel", "Pages", new { area = "PageContent" })";

            urlUpdatePanelPositon = "@Url.Action("UpdatePositions", "Pages", new { area = "PageContent" })";

        });
    </script>
    
}