@{
    ViewBag.Title = ViewData["Title"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ExcludeHeader = true;
}

<div class="container">

    <div class="offset-3 col-6">

        <div class="row card-form">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    @ViewData["Title"]

                </h4>

            </div>

        </div>

        <div class="gap"></div>

        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <p>
                    If an account matches that email address, a password reset link has been dispatched.
                    Please check your inbox and spam folders.
                </p>

            </div>

        </div>

    </div>

</div>
