@model ForgotPasswordViewModel

@{
    ViewBag.Title = ViewData["Title"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ExcludeHeader = true;
}


<div class="container">

    <div class="offset-3 col-6 card-form">

        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                <h4 class="card-title all-caps">

                    @ViewData["Title"]

                </h4>

            </div>

        </div>

        <div class="gap"></div>

        <form asp-action="ForgotPassword" method="post">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="fff" />
                    <span asp-validation-for="Email" class="text-danger"></span>
               
                </div>

            </div>

            <div class="gap"></div>

            <div class="row">

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                    <button type="submit" class="btn btn-primary max">Submit Email</button>

                </div>

            </div>

        </form>

    </div>

</div>

@section scriptsapp {

    @await Html.PartialAsync( "~/Views/Shared/_ValidationScriptsPartial.cshtml" )

}