@model ForgotPasswordViewModel

@{
    ViewBag.Title = SharedLocalizer["PageNameResetEmail"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ExcludeHeader = true;
}


<div class="container">

    <div class="row card-form">

        <div class="offset-3 col-6">

            <div class="row">

                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                    <h4 class="card-title all-caps">

                        @SharedLocalizer["ResetPasswordTitle"]

                    </h4>

                </div>

            </div>

            <div class="gap"></div>

            <form id="resetEmailForm" asp-action="ResetEmail" method="post">

                @Html.AntiForgeryToken( )

                @Html.HiddenFor( m => m.PageName )

                <div class="row">

                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="fff" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                </div>

                <div class="gap"></div>

                <div class="row">

                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                        <button type="submit" class="primary-button flex max">

                            @SharedLocalizer["ResetPasswordButtonText"]

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>
    
</div>

@section scriptsapp {

    @await Html.PartialAsync( "~/Views/Shared/_ValidationScriptsPartial.cshtml" )

    <script>

        $(function() {
            $("#resetEmailForm").valid();
        });

    </script>

}