@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["PageNameResetPasswordComplete"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ExcludeHeader = true;
}


<div class="container">

    <div class="row card-form">

        <div class="offset-3 col-6">

            <div class="row">

                <div class="col-sm-12
                    col-xs-12
                    col-md-12
                    col-lg-12">

                    <h4 class="card-title all-caps"> @SharedLocalizer["ResetPasswordCompleteTitle"] </h4>
           
                </div>
            </div>

            <div class="gap"></div> 
            
            <div class="row">

                <div class="col-sm-12
                    col-xs-12
                    col-md-12
                    col-lg-12">

                    <p>
                        <small>

                            <mark>
                                @SharedLocalizer["ResetPasswordConfirmMessage"]
                            </mark>
                        
                            @SharedLocalizer["ClickForLoginMessage"]

                            <a asp-action="Login" asp-controller="Auth">
                                @SharedLocalizer["LoginSignin"]
                            </a>

                        </small>
                    </p>

                </div>

            </div>

        </div>
    
    </div>

</div>
