@inject IStringLocalizer<SharedResource> SharedLocalizer

@model ResetPasswordViewModel

@{
    ViewBag.Title = SharedLocalizer["PageNameResetPassword"];

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ExcludeHeader = true;
}


<div class="container">

    <div class="row card-form">

        <div class="offset-3 col-6">

            <div class="row">

                <div class="col-sm-12
                    col-xs-12
                    col-md-12
                    col-lg-12">

                    <h4 class="card-title all-caps"> @SharedLocalizer["ResetPasswordTitle"] </h4>

                </div>

                <form asp-action="ResetPasswordView" method="post">

                    @Html.AntiForgeryToken( )

                    <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                        <div class="text-danger" asp-validation-summary="All"></div>
                        <input asp-for="Token" type="hidden" />
                        <input asp-for="Email" type="hidden" />

                    </div>

                    <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="fff" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>

                    <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="fff" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    </div>

                    <div class="col-sm-12
                        col-xs-12
                        col-md-12
                        col-lg-12">

                        <button type="submit" class="primary-button flex max">
                            @SharedLocalizer["UpdatePasswordButtonText"]
                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

@section scriptsapp {

    @await Html.PartialAsync( "~/Views/Shared/_ValidationScriptsPartial.cshtml" )

}