@model System.Byte[]

<div class="image-content" draggable="false">
    <div title="Product Image" draggable="false">
        <a class="thumbnail" draggable="false">
            @if (Model != null && Model != null && Model.Length > 1)
            {
                string imageBase64 = Convert.ToBase64String(Model);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc"
                     class="img-responsive new-post-mobile-image"
                     alt="Product image"
                     style="height:155px;width:100%;"
                     draggable ="false" />
            }
            else
            {
                <img src="~/lib/Images/Home/camera.png"
                     class="img-responsive new-post-mobile-image"
                     alt="Product image is not avaliable" 
                     style="height:155px;width:100%;" 
                     draggable="false" />
            }
        </a>
    </div>
</div>





