@using FineArtsWebApp;
@model HomeViewModel;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["ViewBagTitleTerms"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcludeHeader = false;
}
<div class="container">
    <div class="row card-form text-justify">
        <h4 class="sub-title">
            TERMS & CONDITIONS OF USE
        </h4>
        <p>
            Welcome to our online Ad publishing portal: Bangladesh BAZAAR. Deshi Hut Bazar and its associates provide their services to you subject to the following terms and conditions. If you visit our website and get advertisers contact details from our online portal, purchase subscription packages and credit to post your products, services and advertisements; you accept the following terms and conditions:
        </p>
        <br />
        <h4 class="sub-title">
            COMPANY PRIVACY POLICY
        </h4>
        <p>
            Please read carefully and review our Company Privacy Policy & Notices, which governs you to visit our website for understanding our company practices.
        </p>
        <br />
        <h4 class="sub-title">
            ELECTRONIC COMMUNICATIONS
        </h4>
        <p>
            When you visit our website and want to contact with us by sending e-mail, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail from our site. You agree that all agreements, notices, disclosures and any communication we conduct with you electronically satisfy and legal requirements of communications will be in writing.
        </p>
        <p>
            <b>Note:</b>
            Please click the Contact link of our website and fill up the Contact Form and click on the Send button to email us.
        </p>
        <br />
        <h4 class="sub-title">
            COPYRIGHT
        </h4>
        <p>
            All contents included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software is the property of Deshi Hut Bazar or its content suppliers, are protected by international copyright laws. The compilation of all contents published on this site is exclusive property of Deshi Hut Bazar with copyright authorship and protected by international copyright laws.
        </p>
        <br />
        <h4 class="sub-title">
            TRADE MARKS
        </h4>
        <p>
            Deshi Hut Bazar trademarks and trade address will NOT be used in connection with any products or services published in the website. By any manner, that is likely to cause confusion among customers, or in any manner that criticizes or discredits Deshi Hut Bazar. All other trademarks not owned by Deshi Hut Bazar or its subsidiaries that appear on this website are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Deshi Hut Bazar or its subsidiaries.
        </p>
        <br />
        <h4 class="sub-title">
            AUTHORIZATION AND SITE ACCESS
        </h4>
        <p>
            Deshi Hut Bazar grants you a limited authorization to access and make personal use of our website contents which is publicly available as Bangladesh BAZAAR portal. The contents which belong to the advertiser or users are their own content and they can use their contents in any other places or websites, but they are not allowed to download (other than page caching) or modify it, or any portion of it, except with express written consent of Deshi Hut Bazar.
        </p>
        <p>
            The authorization does not include any resale or commercial use of our website or its contents: any collection and use of any product listings, descriptions, or prices: any copied use of this website or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This Bangladesh BAZAAR portal or any portion of this website may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Deshi Hut Bazar. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Deshi Hut Bazar and our associates without express written consent. You may not use any Meta tags or any other "hidden text" utilizing Deshi Hut Bazar name or trademarks without the express written consent of the company. Any unauthorized use terminates the permission granted by Deshi Hut Bazar. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of Deshi Hut Bazar Bangladesh BAZAAR portal. So long, as the link does not portray Deshi Hut Bazar and its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Deshi Hut Bazar logo or other proprietary graphic or trademark as part of the link without express written permission.
        </p>
        <br />
        <h4 class="sub-title">
            MEMBERSHIP ACCOUNT
        </h4>
        <p>
            During using our website, you are responsible for maintaining the confidentiality of your account and password for restricting access to your devices. Also, you agree to accept responsibility for all activities that occur under your user account and password.
        </p>
        <p>
            Deshi Hut Bazar and its associates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion. Deshi Hut Bazar will refund the amount of money received in case when the order is canceled, or account is disabled/canceled. But once the paid amount is approved; there will be no more refund.
        </p>
        <p>
            If Deshi Hut Bazar find out any type of illegal and offensive contents and communication system using our portal which is illegal and prohibited by local and international law and practices; the user account will be immediately blocked, and legal authority will be notified, and the user’s contact details will also be forwarded to the legal authority.
        </p>
        <p>
            In case of any fraud or wrongdoing while the visitor does the trade with advertiser in person outside the online portal experience; Deshi Hut Bazar will not be responsible for such incidents. But Deshi Hut Bazar encourages, their online visitor’s contact Deshi Hut Bazar with such incidents with evidences so that Deshi Hut Bazar will take appropriate actions by informing the legal authority as well block and cancel the advertiser user account.
        </p>
        <p>
            The subscription packages and the credit purchase prices and benefits can change anytime as the time progresses; which mean, the same package price and benefits can be different in separate purchases. But once the package is bought; Deshi Hut Bazar confirms that the users will enjoy the benefits as defined in the package configuration during the time of purchase. If there are any changes of benefits offered in credit purchase; it will affect user’s previously bought credit purchases.
        </p>
        <p>
            FREE published post will be displayed in the Bangladesh BAZAAR portal for 30 days and after that portal authority reserves the right to keep or remove the published post in the website. But if the user explicitly delete the post from his account; the posted ad will be immediately removed from the portal.
        </p>
        <p>
            The users cannot post any false product/service information in the advertisement which does not exist and cannot provide any false contact details which mislead the portal visitors and impact the good will of the portal. In such occurrences; Deshi Hut Bazar keeps full right to delete the user posts and base on severity of the false information provided by the advertisers; Deshi Hut Bazar will block/cancel advertiser user account once such incident is detected.
        </p>
        <p>
            <b>Note:</b> Please note that all FREE published post will be available in the portal for consecutive 15 days.  Advisers will be notified to purchase subscription packages offered in the portal by email if the user wants to keep advertise.  The ad will be automatically removed from the Bangladesh BAZAAR portal.
        </p>
        <br />
        <h4 class="sub-title">
            REVIEWS, COMMENTS, EMAILS, AND OTHER CONTENT
        </h4>
        <p>
            Visitors may post reviews, comments, and other contents and submit suggestions, ideas, comments, questions, or other information, as long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." User cannot use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Deshi Hut Bazar reserves the right (but not the obligation) to remove or edit such content but does not regularly review posted content. If user post content or submit material, and unless we indicate otherwise, Deshi Hut Bazar and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sub licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Deshi Hut Bazar and its associates and sub authorization the right to use the name that is submitted in connection with such content.
        </p>
        <p>
            You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Deshi Hut Bazar or its associates for all claims resulting from content you supply.
        </p>
        <p>
            Deshi Hut Bazar has the right but not the obligation to monitor and edit or remove any activity or content. Deshi Hut Bazar takes no responsibility and assumes no liability for any content posted by you or any third party.
        </p>
        <p>
            <b>Note:</b> This area is for our portals content copyright declaration.
        </p>
        <br />
        <h4 class="sub-title">
            RISK OF LOSS
        </h4>
        <p>
            Deshi Hut Bazar will not take any type of responsibility to pick up or delivery of the products unless we offer delivery service. Any delivery offers will be published in the website and user will have to subscribe delivery/courier service offered in the website.  But during trade if the seller cheated the buyer, we will not take any responsibility for such occurrence. But we encourage you to inform us immediately in case of such events and we will inform legal authority to take legal action against fraud sellers.
        </p>
        <br />
        <h4 class="sub-title">
            PRODUCT DESCRIPTIONS
        </h4>
        <p>
            Deshi Hut Bazar and its associates attempt to be as accurate as possible. However, Deshi Hut Bazar does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. If a product offered by Deshi Hut Bazar itself is not as described, your sole remedy is to return it in unused condition.
        </p>

        <br />
        <h4 class="sub-title">
            DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY:
        </h4>
        <p>
            THIS SITE IS PROVIDED BY Deshi Hut Bazar ON AN "AS IS" AND "AS AVAILABLE" BASIS. Deshi Hut Bazar MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, MYCOMPANY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Deshi Hut Bazar DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM Deshi Hut Bazar ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Deshi Hut Bazar WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CERTAIN COUTRY LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.
        </p>

        <br />
        <h4 class="sub-title">
            APPLICABLE LAW
        </h4>
        <p>
            By visiting our Bangladesh BAZAAR portal, you agree that the laws of Bangladesh, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Deshi Hut Bazar or its associates.
        </p>
        <br />
        <h4 class="sub-title">
            DISPUTES
        </h4>
        <p>
            Any dispute relating in any way to your visit to our Bangladesh BAZAAR portal or to products you purchase through website shall be submitted to confidential arbitration in Bangladesh, except that, to the extent you have in any manner violated or threatened to violate Deshi Hut Bazar intellectual property rights, Deshi Hut Bazar may seek injunctive or other appropriate relief in any state or federal court in the state of Bangladesh and you consent to exclusive jurisdiction and venue in such courts. Arbitration under this agreement shall be conducted under the rules then prevailing of the Ministry of Law & Parliamentary affairs of Bangladesh. The arbitrator’s award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.
        </p>
        <br />
        <h4 class="sub-title">
            SITE POLICIES, MODIFICATION, AND SEVERABILITY
        </h4>
        <p>
            Please review our policies, such as our Company Privacy Policy, posted on this site. These policies also govern your visit to our Bangladesh BAZAAR portal. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.
        </p>

        <br />
        <h4 class="sub-title">
            QUESTIONS:
        </h4>
        <p>
            Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to us by clicking on the "Contact" link in the website. Or you can email us at:  the email address published in the website (i.e. info.deshihutbazar.ndt@gmail.com)
        </p>
    </div>
</div>